{% extends 'views/indexadmin.html' %}
{% load staticfiles %}
{% block style %}
  <link rel="stylesheet" href="{% static '/adminlte/plugins/datatables/dataTables.bootstrap4.css' %}">


{% endblock %}

{% block conenedor %}




<div class="card card-primary card-outline direct-chat direct-chat-primary">
              <div class="card-header">
               <h3><i class="fa fa-calendar-check-o"></i> Historial de Solicitudes Externas </h3><br>

                <div class="card-tools">
           
                  <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
             <div class="card-body" style="display: block;">


<center>
  <br>
<center>
  <form  class="form_historial" id="form_historial" name="form_historial" autocomplete="off" novalidate>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-2 col-sm-4">
        <h6 class="card-title">Bases</h6>
       <select class="form-control" id="fkBase" name="fkBase"  required>   
       </select>
     </div>
     <div class="col-md-2 col-sm-4">
      <h6 class="card-title">Fecha Inicio</h6>
      <input class="form-control" type="text" name="f1_p" id="f1_p" required="">
    </div>
    <div class="col-md-2 col-sm-4">
      <h6 class="card-title">Fecha Final</h6>
      <input class="form-control" type="text" name="f2_p" id="f2_p" required="">
    </div> 
      <div class="col-md-1">
      </div>                 
  </div>
  <br>      
</center>
  <button type="submit"   class="btn btn-outline-info">Buscar</button>
</form>


</center>
  



<br>
                 <table id="tabla_proceso" width="100%" style="font-size: 16px"  class="table table-bordered table-striped">
        <thead>
            <tr>
                
      
     
                <th></th>
      
             <th></th>
                <th>Folio</th> 
             
                <th>Fecha</th>   
                 <th>Hora de llamada</th>
                 <th>Tipo incidente</th>
                 <th>Dirección</th>
                 <th>Unidad</th>
            </tr>
        </thead>
         <tbody>
        
          </tbody>
        <tfoot>
               <tr>
          
          
                <th></th>
                <th></th>
              <th>Folio</th> 
               
                <th>Fecha</th>    
                <th>Hora de llamada</th>
                <th>Tipo incidente</th>
                <th>Dirección</th>  
                <th>Unidad</th>
              
            </tr>
        </tfoot>
    </table>

                <!-- /.direct-chat-pane -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer" style="display: block;">
         
              </div>
              <!-- /.card-footer-->
            </div>



 



  

{% endblock %}

{% block scripts %}
 <link rel="stylesheet" href="{% static '/adminlte/plugins/select2/select2.min.css' %}">
<script src="{% static '/adminlte/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static '/adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static '/adminlte/plugins/datatables/dataTables.bootstrap4.js' %}"></script>

<script src="{% static '/adminlte/dist/js/validator.js' %}"></script>
<script src="{% static '/adminlte/dist/js/sweetalert.js' %}"></script>
<script src="{% static '/adminlte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static '/adminlte/plugins/moment/moment-with-locales.js' %}"></script>

<script>

(function() {
 
  window.addEventListener('load', function() {

    var forms = document.getElementsByClassName('form_historial');
   
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
         event.preventDefault();
        event.stopPropagation();
        form.classList.add('was-validated');
            if (form.checkValidity()) {
                moment.locale('es');
  var f1_p = moment($("#f1_p").val(), 'DD-MM-YYYY').format('YYYY-MM-DD');
  var f2_p = moment($("#f2_p").val(), 'DD-MM-YYYY').format('YYYY-MM-DD');  
  //console.log(f1_p);         
       table_proceso.ajax.url("../historiales/?id_base="+jQuery("#fkBase").val()+"&fechaInicio="+f1_p+"&fechaFinal="+f2_p).load();   
    // window.location="/BDhp/?fechaInicio="+$("#f1_hp").val()+"&fechaFinal="+$("#f2_hp").val();
 //swal("Base de Datos HP", "¡Se Descargo correctamente!", "success"); 

        }

        
      }, false);

    });
  }, false);
})();

  
  $("input").datepicker({
    autoclose:true,
    format:'dd-mm-yyyy'
});

 /* function cambiarBase(id)
  { //alert(id.value);
    if(id.value!="") 
    table_proceso.ajax.url("../co_po/list/?id_base="+id.value).load();
  } */
    var html="<option value=''>---</option>";
  $.ajax({
    url:"/basesPre/list/",
    cache:false,
    type:"GET",
    dataType:"json",
    success:function(respuesta){
     
           for(key in respuesta)
           { 
               html+="<option value='"+respuesta[key].id+"'>"+respuesta[key].nombre+"</option>";
           }
          
             $("#fkBase").html(html);
           }
         });
 $('.select2').select2();
//$("#h_traslado").

$('input').keyup(function() {
        //this.value = this.value.toLocaleUpperCase();
this.value = this.value.toLowerCase();
    });


function model_regitro(id){
  $.ajax({
          url:"/con_proc_status/"+id+"/",
          cache:false,
          type:"GET",
          dataType:"json",
            beforeSend : function(){    
                        } ,
            success:function(respuesta){ 
              $("#id_vehiculo").val(respuesta.fk_unidad_vehiculo.id);
              $("#id_proceso2").val(respuesta.fk_proceso.id);
              $("#id_pv").val(respuesta.id);
              $("#movil").val(respuesta.fk_proceso.telefono);

                              if (respuesta.estatus==1){
                                 $("#modal-registro").modal("show");
                                 $("#barra_registro").css("width","0%");
                                 $("#barra_registro").html("0%");
                                 $("#ver_estatus1").show();
                                 $("#ver_estatus2").css("display","none");
                                 $("#ver_estatus3").css("display","none");
                                 $("#ver_estatus4").css("display","none");
                                 $("#ver_estatus5").css("display","none");
                                 $("#ver_estatus6").css("display","none");
                                 $("#text-seguimineto").html("Salida de la base");
                                  
                              }else if (respuesta.estatus==2){
                                $("#modal-registro").modal("show");
                                $("#barra_registro").css("width","20%");
                                $("#barra_registro").html("20%");
                                $("#ver_estatus1").css("display","none");
                                $("#ver_estatus3").css("display","none");
                                $("#ver_estatus4").css("display","none");
                                $("#ver_estatus5").css("display","none");
                                $("#ver_estatus6").css("display","none");
                                $("#ver_estatus2").show();
                                $("#fk_unidad_vehiculo1").val(respuesta.fk_unidad_vehiculo.kilometraje);
                                $("#fk_unidad_vehiculo2").val(respuesta.fk_unidad_vehiculo.kilometraje);
                                $("#id_vehiculo").val(respuesta.fk_unidad_vehiculo.id);
                              

                                $("#text-seguimineto").html("Kilometro al llegar al Incidente");
                              } 
                              else if(respuesta.estatus==3){
                                   $("#modal-registro").modal("show");
                                $("#barra_registro").css("width","40%");
                                $("#barra_registro").html("40%");
                                $("#ver_estatus2").css("display","none");
                                $("#ver_estatus1").css("display","none");
                                $("#ver_estatus5").css("display","none");
                                $("#ver_estatus4").css("display","none");
                                $("#ver_estatus5").css("display","none");
                                $("#ver_estatus6").css("display","none");
                                $("#text-seguimineto").html("Lesionados en el Incidente");
                                $("#ver_estatus3").show();

                              }
                               else if(respuesta.estatus==4){
                                   $("#modal-registro").modal("show");
                                $("#barra_registro").css("width","60%");
                                $("#barra_registro").html("60%");
                                $("#ver_estatus2").css("display","none");
                                $("#ver_estatus1").css("display","none");
                                $("#ver_estatus3").css("display","none");
                                $("#ver_estatus4").css("display","none");
                                $("#ver_estatus5").css("display","none");
                                $("#ver_estatus6").css("display","none");
                                $("#text-seguimineto").html("Lesionados en el Incidente");

                                if(respuesta.lesionados==0){
                                  $("#ver_estatus4").show();
                                  $("#text-seguimineto").html("Razones de 0 Traslado");
                                  $("#ver_estatus5").css("display","none");
                                }else{
                                  $("#ver_estatus5").show();
                                  $("#ver_estatus4").css("display","none");
                                  $("#text-seguimineto").html("Hospital de Traslado");
                                }
                                

                              }  else if(respuesta.estatus==5){
                                $("#modal-registro").modal("show");
                                $("#barra_registro").css("width","90%");
                                $("#barra_registro").html("90%");
                                $("#ver_estatus1").css("display","none");
                                $("#ver_estatus2").css("display","none");
                                $("#ver_estatus3").css("display","none");
                                $("#ver_estatus4").css("display","none");
                                $("#ver_estatus5").css("display","none");
                                $("#ver_estatus6").show();

                                $("#km_final").val(respuesta.fk_unidad_vehiculo.kilometraje);
                                $("#fk_unidad_vehiculo1").val(respuesta.fk_unidad_vehiculo.kilometraje);
                                $("#text-seguimineto").html("Kilometro al llegar al Incidente");
                                
                               } else if(respuesta.estatus==6){


                                $("#ver_estatus1").css("display","none");
                                $("#ver_estatus2").css("display","none");
                                $("#ver_estatus3").css("display","none");
                                $("#ver_estatus4").css("display","none");
                                $("#ver_estatus5").css("display","none");
                                $("#ver_estatus6").css("display","none");

                                $("#text-seguimineto").html("El Proceso Fue Finalizado");
                                $("#modal-registro").modal("hide");
                                 swal("¡Finalizado!", "El Proceso Esta Finalizado!", "warning");
                  
                    

                               }



          }});
}







 

  table_proceso = $("#tabla_proceso").DataTable(
            {
               "language": {
                "url": "{% static 'adminlte/plugins/datatables/json/Spanish.json'%}"
            },
            "bProcessing": true,
            "sAjaxDataProp":"",
            "iDisplayStart": 0,
             "order": [[ 3, "desc" ]],
             "searching" : true,
             "paging": true,
              "scrollX": true,
             "ajax": "../co_po/list/?id_base=-1",  

              "columns": [
             
                  { "data": "hpreh" },

                  { "data": "fk_proceso.coordenadas" },
                  { "data": "fk_proceso.id" },
                  { "data": "fk_proceso.fecha_captura" },
                  { "data": "tiempo_inicial" },
                  { "data": "fk_proceso.fk_tipo_incidente.nombre" },
                  { "data": "fk_proceso.direccion" },
                  { "data": "fk_unidad_vehiculo.nombre" },

              ]
              ,
               "columnDefs" :[
             
                  {
                      "targets": 0,
                      "width": "1%",
                       "render": function (data, type, row, meta )
                        {
                         if(data=="" || data == null)
                         return "<a onclick='vacio()' style='color:black; cursor:pointer;' ><span class='fa fa-fw fa-file-text-o'></span></a>"; 
                         else
                         return "<a  href='/hp_detalle/"+data+"?010v2p6k7fb3b3="+btoa(row.id)+"&bjhasfgxcb="+btoa(1)+"'  style='color:black; cursor:pointer;' ><span class='fa fa-fw fa-file-text-o'></span></a>"; 
                         

      //return "<a  href='/hp_detalle/"+data+"?vpkf="+btoa(row.id)+"?hpreh="+btoa(data)+"'  style='color:black; cursor:pointer;' ><span class='fa fa-fw fa-file-text-o'></span></a>"; 
 
                          }
                 } ,
                 {
                      "targets": 1,
                      "width": "1%",
                       "render": function (data, type, row, meta )
                        {
                          if(data==null){

                        return "<a   style='color:black; cursor:pointer;' onclick='coordenadas("+row.fk_proceso.id+")' ><span class='fa fa-fw fa-map-marker'></span></a>";
                          } else {
                             return "<a   style='color:black; cursor:pointer;' href='https://www.google.com.mx/maps/place/"+data+"' target='_blank' ><span class='fa fa-fw fa-map-marker'></span></a>";
                            //href='https://www.google.com.mx/maps/place/18.013370, -92.923737'
                      }

                          }
                          
                 }
                 ,
                  {
                      "targets": 2,
                         "width": "1%",
                       "render": function (data, type, row, meta )
                        {

                              //return "<strong ><a href='/pv_detalle/"+row.id+"/' style='color:red; cursor:pointer;'> "+data+" </a></strong>";

                            return "<center><span style=' cursor:pointer;' onclick='window.location.href=\"../pv_detalle/"+row.id+"/\" '  href='/pv_detalle/"+row.id+"/' class='badge bg-danger'>"+data+"</span></center>";



                          }
                 }
                    
                 ,
                  {
                      "targets": 3,
                      "width": "4%",
                       "render": function (data, type, row, meta )
                        {
                          //0123456789
                          //2018-01-01  "+row.fk_proceso.fecha_captura.substr(5,6)+"-"+row.fk_proceso.fecha_captura.substr(0,3)+"
                              return ""+row.fk_proceso.fecha_captura.substr(8,2)+"-"+row.fk_proceso.fecha_captura.substr(5,2)+"-"+row.fk_proceso.fecha_captura.substr(0,4)+"";
                             
                          }
                 },
                  {
                      "targets": 4,
                       "width": "4%",
                       "render": function (data, type, row, meta )
                        {

                          
                              return ""+row.fk_proceso.tiempo_inicial.substr(0,8) +" hrs";
                             

                          }
                 },
                  {
                      "targets": 5,
                      "width": "8%",
                     
                 },
                  {
                      "targets": 6,
                      "width": "10%",
                     
                 }
                   ,
                  {
                      "targets": 7,
                      "width": "2%",
                     
                 }
                   
                    
                 ],
             
                 "drawCallback": function(settings) {
                  
          
            

        },
         
          
                 
         } );

function vacio()
{
  swal('¡Sin datos!', '¡Hoja no capturada!', 'warning');
}

 function hoja_href(data,fk_p_v){

  location.href("/hp_detalle/"+data);

 }
function coordenadas(fk_proceso){

swal({
  title: "Coordenadas",
  text: "No estan Cargadas!",
  icon: "error",
});

}







</script>

{% endblock %}



